<launch>

<group ns="ouzel">

    <node name="omav_touch_planner" pkg="cpt_ros"
          type="omav_touch_planner_node" output="screen">
        <param name="map_frame_name" value="world" />
        <param name="body_frame_name" value="ouzel/base_link" />
        <param name="endeffector_frame_name" value="ouzel/tool_rotated" />

        <param name="touch_position" type="yaml" value="[1.48606, 0.5, 0.668549]" />
        <param name="touch_random_bounds" type="yaml" value="[0.35, 0.0, 0.35]" />


    </node>
</group>
</launch>
