# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Python stuff
*.pyc

# Executables
*.exe
*.out
*.app

# Editor excludes
**/cmake-build-debug/*
**/.idea/*
**/.vscode/

# ignore marker state
cpt_selective_icp/state
data_sets_icra/
