<?xml version="1.0" encoding="utf-8"?>
<!-- Launch file for online Relative Deviation analysis -->

<launch>

  <arg name="map_frame" default="/map" />
  <arg name="discrete_color" default="false" />
  <arg name="score_threshold" default="0.015" />
  <arg name="path" default="$(find relative_deviations)" />
  <arg name="buffer_size" default="5" /> <!-- defines how many scans are concatenated for deviation analysis -->
  <arg name="cad_topic" default="cad_mesh_pub" />
  <arg name="scan_topic" default="ref_corrected_scan" />

  <node name="relative_dev"
        pkg="relative_deviations"
        type="relative_deviations_node"
        output="screen"
        respawn="true">
    <rosparam command="load" file="$(find relative_deviations)/launch/parameters.yaml" />
    <param name="map_frame" value="$(arg map_frame)" />
    <param name="discrete_color" value="$(arg discrete_color)" />
    <param name="score_threshold" value="$(arg score_threshold)" />
    <param name="path" value="$(arg path)" />
    <param name="buffer_size" value="$(arg buffer_size)" />
    <param name="cad_topic" value="$(arg cad_topic)" />
    <param name="scan_topic" value="$(arg scan_topic)" />
  </node>

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find relative_deviations)/launch/rviz.rviz" />-->
</launch>
