<?xml version="1.0" encoding="utf-8"?>
<!--
Launch file for Selective ICP with rviz
-->

<launch>

	<arg name="cad_file" default="$(find cpt_selective_icp)/resources/Lee_H_Demo_2.json" />
  <arg name="simulation" default="false"/>

  <node name="mapper" type="cpt_selective_icp_node" pkg="cpt_selective_icp" output="screen">
    <rosparam command="load" file="$(find cpt_selective_icp)/config/mapper_parameters.yaml" />
                <param name="standaloneICP" value="true" />
                <param name="scanTopic" value="/rslidar_points" />
		<param name="cadTopic" value="mesh_publisher/mesh_out" />
		<param name="icpConfig"
			   value="$(find cpt_selective_icp)/config/full_icp.yaml" />
		<param name="selectiveIcpConfig"
			   value="$(find cpt_selective_icp)/config/selective_icp.yaml" />
		<param name="inputFiltersConfig"
			   value="$(find cpt_selective_icp)/config/input_filters.yaml" />
		<param name="mapPostFiltersConfig"
			   value="$(find cpt_selective_icp)/config/map_post_filter.yaml" />
		<param name="mapPreFiltersConfig"
			   value="$(find cpt_selective_icp)/config/map_pre_filter.yaml" />
		<param name="path"
				 value="$(find cpt_selective_icp)" />
	</node>

	<node name="mesh_positioning"
        pkg="cpt_selective_icp"
        type="position_cad_with_marker.py"
        output="screen">
    <param name="marker_parent_frame" value="map" />
		<param name="marker_frame_name" value="marker" />
  </node>

	<node name="find_id_in_mesh"
        pkg="cpt_utils"
        type="find_closest_id_in_mesh.py"
        output="screen">
    <param name="marker_parent_frame" value="marker" />
  </node>

	<node name="mesh_publisher" pkg="cpt_utils" type="mesh_publisher_node" output="screen">
    	<param name="publish_on_start" value="true"/>
    	<param name="default_filename" value="$(arg cad_file)"/>
    	<param name="frame_name" value="marker"/>
  </node>

	<node pkg="tf2_ros" type="static_transform_publisher" name="laser" args="0 0 0 0 0 0 1 lidar rslidar" if="$(eval simulation == 'true')"/>

	<node type="rviz" name="rviz_mesh_model" pkg="rviz" args="-d $(find cpt_selective_icp)/launch/rviz.rviz" />

</launch>
