<?xml version="1.0" encoding="utf-8"?>

<launch>
  <param name="use_sim_time" value="true"/>
  <arg name="visualize" default="true"/>

  <arg name="play_rosbag" default="true"/>
  <arg name="rosbag_file"
       default="$(find cpt_object_detection)/resources/detection_torus.bag"/>

  <arg name="detection_pointcloud_topic"
       default="/detection_projector/object_pcl_3d"/>
  <arg name="object_off_path"
       default="$(find cpt_object_detection)/resources/Y10148_Torus Thick.off"/>
  <arg name="object_frame_id" value="object_detection_mesh"/>

  <arg name="use_3d_features" value="true"/>
  <arg name="num_points_object_pointcloud" default="5000"/>
  <arg name="downsampling" default="0.001"/>
  <arg name="keypoint_type" default="uniform"/> <!-- ISS or Harris or uniform-->
  <arg name="descriptor_type" default="FPFH"/> <!-- FPFH or SHOT -->
  <arg name="matching_method" default="Teaser"/> <!-- geometric_consistency or FGR or Teaser -->
  <arg name="correspondence_threshold" default="0.1"/>

  <arg name="refine_using_icp" value="true"/>
  <arg name="icp_config_file"
       default="$(find cpt_object_detection)/config/icp_config.yaml"/>

  <node name="object_detection_matcher"
        pkg="cpt_object_detection" type="cpt_object_detection_node"
        args="--colorlogtostderr">
    <param name="pointcloud_topic" value="$(arg detection_pointcloud_topic)"/>
    <param name="off_model" value="$(arg object_off_path)"/>
    <param name="visualize_object_on_startup" value="true"/>
    <param name="object_frame_id" value="$(arg object_frame_id)"/>

    <param name="use_3d_features" value="$(arg use_3d_features)"/>
    <param name="num_points_object_pointcloud"
           value="$(arg num_points_object_pointcloud)"/>
    <param name="downsampling" value="$(arg downsampling)"/>
    <param name="keypoint_type" value="$(arg keypoint_type)"/>
    <param name="descriptor_type" value="$(arg descriptor_type)"/>
    <param name="matching_method" value="$(arg matching_method)"/>
    <param name="correspondence_threshold" value="$(arg correspondence_threshold)"/>

    <param name="refine_using_icp" value="$(arg refine_using_icp)"/>
    <param name="icp_config_file" value="$(arg icp_config_file)"/>
  </node>

  <node if="$(arg play_rosbag)" name="rosbag_player" pkg="rosbag" type="play"
        args="--clock -q $(arg rosbag_file)"/>

  <node if="$(arg visualize)" name="rviz" pkg="rviz" type="rviz"
        args="-d $(find cpt_object_detection)/config/object_detection_matching_3d_features.rviz"/>
</launch>
