<?xml version="1.0" encoding="utf-8"?>

<launch>
  <!-- Object and Preparation -->
  <arg name="object_off_path"
       default="$(find cpt_object_detection)/resources/handwheel_mockup_24cm_scaled.off"/>
  <arg name="reference_frame_id" default="arm_base_link"/>
  <arg name="num_points_object_pointcloud" default="5000"/>

  <!-- Alignment Method -->
  <arg name="use_3d_features" default="false"/>
  <arg name="refine_using_icp" default="true"/>
  <arg name="use_icp_on_pointcloud" default="true"/>

  <!-- Filters -->
  <arg name="use_inlier_ratio_filter" default="false"/>
  <arg name="use_kalman_filter" default="false"/>

  <!-- ROS Node -->
  <node name="object_detection_matcher"
        pkg="cpt_object_detection" type="cpt_object_detection_node"
        args="--colorlogtostderr" output="screen">
    <rosparam command="load"
              file="$(find cpt_object_detection)/config/detection_config.yaml"/>

    <param name="off_model" value="$(arg object_off_path)"/>
    <param name="reference_frame_id" value="$(arg reference_frame_id)"/>

    <param name="use_inlier_ratio_filter" value="$(arg use_inlier_ratio_filter)"/>
    <param name="use_kalman_filter" value="$(arg use_kalman_filter)"/>

    <param name="use_3d_features" value="$(arg use_3d_features)"/>
    <param name="refine_using_icp" value="$(arg refine_using_icp)"/>
    <param name="use_icp_on_pointcloud" value="$(arg use_icp_on_pointcloud)"/>
    <param name="icp_config_file"
           value="$(find cpt_object_detection)/config/icp_config.yaml"/>
  </node>
</launch>
