<?xml version="1.0" encoding="utf-8"?>
<launch>
	<!-- declare arg to be passed in -->
	<arg name="data_file" default="$(find cpt_matching_algorithms)/../../smb_no_distortion_2020-02-19-15-56-40_projected.bag" />
	<arg name="save_target" default="$(find cpt_matching_algorithms)/../../data_set" />

    <node name="data_reader" pkg="cpt_matching_algorithms" type="data_reader" output="screen">
    	<param name="raw_data" value="$(arg data_file)" />
        <param name="save_folder" value="$(arg save_target)" />
        <param name="point_topic" value="/static_points" />
        <param name="gt_topic" value="/leica/position" />
    </node>

</launch>
