<?xml version="1.0" encoding="utf-8"?>
<launch>
    <!-- declare arg to be passed in -->
    <arg name="cad_file" default="$(find cpt_selective_icp)/resources/cla.json" />
    <arg name="lidar_scan" default="$(find cpt_matching_algorithms)/../../data_set/scan200.bag" />
    <arg name="lidar_settings" default="$(find cpt_matching_algorithms)/config/sim_lidar_config.yaml" />

    <arg name="lidar_frame" value="marker_pose" />

   <node name="test_matcher"  pkg="cpt_matching_algorithms" type="test_matcher_node" output="screen" launch-prefix="tmux split-window -h">
        <rosparam command="load" file="$(find cpt_matching_algorithms)/config/test_match_config.yaml"/>

        <param name="goicp_folder" value="$(find go_icp_catkin)"/>

        <rosparam command="load" file="$(find cpt_matching_algorithms)/config/plane_extraction_config.yaml" />
        <rosparam command="load" file="$(find cpt_matching_algorithms)/config/plane_matching_config.yaml" />
        
        <rosparam command="load" file="$(arg lidar_settings)" />
        <param name="tfLidarFrame" value="$(arg lidar_frame)" />
        <param name="tfMapFrame" value="/map" />
        <param name="cadTopic" value="/mesh_publisher/mesh_out" />
        <param name="lidarTopic" value="rslidar_points" />
        <param name="simlidarTopic" value="sim_rslidar_points" />
        <param name="groundtruthTopic" value="ground_truth" />
    </node>

    <node name="lidar_simulator"  pkg="cpt_matching_algorithms" type="sim_lidar_node" output="screen" launch-prefix="tmux split-window">
        <rosparam command="load" file="$(arg lidar_settings)" />

        <param name="tfLidarFrame" value="$(arg lidar_frame)" />
        <param name="cadTopic" value="/mesh_publisher/mesh_out" />
    </node>
    
    <node pkg="tf" type="static_transform_publisher" name="SimFixLidar" args="13 -3.5 1 0 0 0.3428978 0.9393727 map $(arg lidar_frame)  100"/>

    <node name="LiDAR_driver" pkg="rosbag" type="play" args="-l $(arg lidar_scan)" />

    <node pkg="rosservice" type="rosservice" name="cad_trigger" args="call /mesh_publisher/publish {}" launch-prefix="bash -c 'sleep 2; $0 $@' "/>
    <node pkg="tf" type="static_transform_publisher" name="mesh_positioning" args="0 0 0 0 0 0 1  marker map 100"/>

    <node name="mesh_publisher" pkg="cpt_utils" type="mesh_publisher_node">
        <param name="publish_on_start" value="false"/>  <!-- if set to true, mesh is published two times -->
        <param name="default_filename" value="$(arg cad_file)"/>
        <param name="frame_name" value="marker"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="laser" args="0 0 0 0 0 0 1  /lidar /rslidar  100"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cpt_matching_algorithms)/config/rviz/rviz_test_matcher.yaml" />

</launch>
