<?xml version="1.0" encoding="utf-8"?>
<!--
Launch file for test_matcher
-->

<launch>
   <node name="test_matcher"  pkg="cpt_matching_algorithms" type="test_matcher_node" output="screen" launch-prefix="tmux split-window -h">
        <rosparam command="load" file="$(find cpt_matching_algorithms)/config/test_match_config.yaml"/>
        <rosparam command="load" file="$(find cpt_matching_algorithms)/config/sim_lidar_config.yaml" />
        <param name="tfMapFrame" value="/map" />
        <param name="cadTopic" value="/mesh_publisher/mesh_out" />
    </node>

    <node name="lidar_simulator"  pkg="cpt_matching_algorithms" type="sim_lidar_node" output="screen" launch-prefix="tmux split-window">
        <rosparam command="load" file="$(find cpt_matching_algorithms)/config/sim_lidar_config.yaml" />
    </node>

    <node name="LiDAR_driver" pkg="rosbag" type="play" args="-l $(find cpt_matching_algorithms)/../../data_set/scan200.bag" />

    <arg name="cad_file" default="$(find cpt_selective_icp)/resources/cla.json" />

    <node name="mesh_positioning"
          pkg="cpt_selective_icp"
          type="position_cad_with_marker.py">
        <param name="marker_parent_frame" value="map" />
        <param name="marker_frame_name" value="marker" />
    </node>

    <node name="find_id_in_mesh"
          pkg="cpt_utils"
          type="find_closest_id_in_mesh.py">
        <param name="marker_parent_frame" value="marker" />
    </node>

    <node name="mesh_publisher" pkg="cpt_utils" type="mesh_publisher_node">
        <param name="publish_on_start" value="false"/>  <!-- if set to true, mesh is published two times -->
        <param name="default_filename" value="$(arg cad_file)"/>
        <param name="frame_name" value="marker"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="laser" args="100 0 0 0 0 0 1  /lidar /rslidar  100"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cpt_matching_algorithms)/config/rviz.yaml" />

</launch>
