<launch>
    <node name="mesh_publisher" pkg="cpt_utils" type="mesh_publisher_node"
          output="screen">
        <param name="publish_on_start" value="true"/>
        <param name="default_filename"
               value="$(find omav_gazebo_vicon)/models/vicon_wall/meshes/vicon_wall_centered.off"/>
        <param name="frame_name" value="vicon_wall"/>
    </node>
</launch>
