<?xml version="1.0" encoding="utf-8"?>

<launch>

  <node name="object_detection_matcher" pkg="cpt_object_detection" type="cpt_object_detection_node">
    <param name="off_model" value="$(find cpt_object_detection)/resources/Y10148_Torus Thick.off"/>
    <param name="pointcloud_topic" value="/detection_projector/object_pcl_3d"/>
    <param name="visualize_object_on_startup" value="true"/>
  </node>

</launch>
