<!-- killall gzclient -->
<!-- killall gzserver -->

<launch>
  <arg name="mav_name" default="voliro_tri"/>
  <arg name="namespace" default="voliro_tri"/>
  <arg name="model" default="$(find voliro_description)/urdf/voliro_tri_base.xacro"/>
  <arg name="tf_prefix" default="$(optenv ROS_NAMESPACE)"/>

  <!-- <arg name="world" default="$(find omav_gazebo_wada)/worlds/wada.world" /> -->
  <arg name="world" default="$(find omav_demos_simulator)/worlds/basic.world" />
  <arg name="show_gazebo" default="false"/>
  <arg name="pause_gazebo" default="false" />

  <arg name="enable_logging" default="false"/>
  <arg name="enable_ground_truth" default="true"/>
  <arg name="log_file" default="$(arg mav_name)"/>
  <arg name="wait_to_record_bag" default="false"/>
  <arg name="enable_mavlink_interface" default="false"/>

  <arg name="start_x" default="1.0" />
  <arg name="start_y" default="0.0" />
  <arg name="start_z" default="0.1" />

  <arg name="show_rviz" default="true" />
  <arg name="rviz_config" default="voliro_rope_planner" />

  <!-- ========== Simulation ========== -->
  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find rotors_gazebo)/models:$(find omav_gazebo_wada)/models"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find rotors_gazebo)/models"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world)"/>
    <arg name="gui" value="$(arg show_gazebo)"/>
    <arg name="paused" value="$(arg pause_gazebo)" />
  </include>

  <!-- ========== MAV ========== -->
  <!-- Send the robot XML to param server. -->
  <param name="robot_description" command="
    $(find xacro)/xacro $(arg model) enable_logging:=$(arg enable_logging) 
    enable_ground_truth:=$(arg enable_ground_truth) enable_mavlink_interface:=$(arg enable_mavlink_interface) 
    log_file:=$(arg log_file) wait_to_record_bag:=$(arg wait_to_record_bag) mav_name:=$(arg mav_name) 
    namespace:=$(arg namespace)
    " />
  <param name="tf_prefix" type="string" value="$(arg tf_prefix)" />

  <!-- Push robot_description to factory and spawn robot in gazebo. -->
  <node name="spawn_$(arg namespace)" pkg="gazebo_ros" type="spawn_model" args="-param robot_description
         -urdf
         -x $(arg start_x)
         -y $(arg start_y)
         -z $(arg start_z)
         -model $(arg namespace)" respawn="false" output="screen">
  </node>

  <!-- ========== State Publisher ========== -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/$(arg mav_name)/joint_states" />
  </node>

  <!-- ========== Controller ========== -->
  <include file="$(find voliro_gazebo_control)/launch/voliro_tri_control.launch">
    <arg name="mav_name" value="$(arg mav_name)" />
  </include>

  <!-- ========== TF Broadcaster ========== -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="enu_broadcaster" args="0 0 0 0 0 0 1 enu world" />
  <!-- mesh transformation according to enu  -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="mesh_broadcaster" args="14 15 0 0 0 -0.7071068 -0.7071068 enu mesh" />

  <!-- ========== Planner ========== -->
    <!-- parameters for the rope -->
  <arg name="rope_end_x" default="2.0"/>
  <arg name="rope_end_y" default="0.0"/>
  <arg name="rope_end_z" default="0.1"/>

  <arg name="rope_start_x" default="0.0"/>
  <arg name="rope_start_y" default="0.0"/>
  <arg name="rope_start_z" default="0.1"/>

  <!-- parameters for the pulley init pose -->
  <arg name="pulley_init_x" default="1.0"/>
  <arg name="pulley_init_y" default="0.0"/>
  <arg name="pulley_init_z" default="0.2"/>


  <!-- rope  -->
  <arg name="pulley_free_yaw" default="true"/>
  <arg name="rope_node_num" default="70"/>
  <arg name="rope_node_mass" default="0.02"/>
  <arg name="spring_ks" default="100.0"/>
  <arg name="spring_rest_len" default="0.2"/>
  <arg name="pulley_friction" default="0.2"/> <!-- friction between pulley and rope  -->
  <arg name="pulley_radius" default="0.5"/>
  <arg name="update_interval" default="0.1"/>
  <arg name="hooked_node_idx" default="20"/>


  <!-- Motion planner based on opt fabric  -->
  <node pkg="cpt_planning_ros" name="opt_fabric_planner" type="voliro_rope_planner_node" output="screen">

    <param name="rope_start_x" value="$(arg rope_start_x)" type="double"/>
    <param name="rope_start_y" value="$(arg rope_start_y)" type="double"/>
    <param name="rope_start_z" value="$(arg rope_start_z)" type="double"/>

    <param name="rope_end_x" value="$(arg rope_end_x)" type="double"/>
    <param name="rope_end_y" value="$(arg rope_end_y)" type="double"/>
    <param name="rope_end_z" value="$(arg rope_end_z)" type="double"/>

    <param name="body_frame" type="string" value="voliro_tri/base_link" />
    <param name="enu_frame" type="string" value="enu" />
    <param name="odom_frame" type="string" value="world" />
    <param name="current_reference_frame" value="current_reference" />

    <param name="traject_dt" value="0.01" type="double"/>
    <param name="max_traject_duration" value="0.1" type="double"/>
    <param name="rope_safe_dist" value="0.5" type="double"/>

    <!-- <param name="zero_angle" type="double" value="0.0" />
    <param name="zero_x" type="double" value="0.0" />
    <param name="zero_y" type="double" value="0.0" />
    <param name="zero_z" type="double" value="0.0" /> -->

    <param name="mesh_frame" type="string" value="mesh" />
    <param name="mesh_path" type="string" value="/home/liping/Documents/asl_omav_doc/3d-model/test_obs_01.off" />

    <param name="pulley_init_x" value="$(arg pulley_init_x)" type="double"/>
    <param name="pulley_init_y" value="$(arg pulley_init_y)" type="double"/>
    <param name="pulley_init_z" value="$(arg pulley_init_z)" type="double"/>

    <param name="pulley_free_yaw" value="$(arg pulley_free_yaw)" type="bool"/>
    <param name="rope_node_num" value="$(arg rope_node_num)" type="int"/>
    <param name="rope_node_mass" value="$(arg rope_node_mass)" type="double"/>
    <param name="spring_ks" value="$(arg spring_ks)" type="double"/>
    <param name="spring_rest_len" value="$(arg spring_rest_len)" type="double"/>
    <param name="pulley_friction" value="$(arg pulley_friction)" type="double"/>
    <param name="pulley_radius" value="$(arg pulley_radius)" type="double"/>
    <param name="update_interval" value="$(arg update_interval)" type="double"/>
    <param name="hooked_node_idx" value="$(arg hooked_node_idx)" type="int"/>

    <remap from="opt_fabric_planner/cmd_trajectory" to="/$(arg mav_name)/command/trajectory" />
    <remap from="opt_fabric_planner/odometry" to="/$(arg mav_name)/ground_truth/odometry" />
    <remap from="opt_fabric_planner/rope_vis" to="/rope_sim_ros/rope_vis" />
    <remap from="opt_fabric_planner/moving_target" to="/rope_sim_ros/moving_target"/>
    <remap from="opt_fabric_planner/joy" to="/joy" />


  </node>

  <!-- joystick to control the behaviour of the end point  -->
  <node pkg="joy" name="joystick_interface" type="joy_node" output="screen">
     <rosparam>
       joy_node/dev: "/dev/input/js0"
     </rosparam>
  </node>

  <!-- ========== Sensor reading visualization in RViz ========== -->
<group if="$(arg show_rviz)">
<node type="rviz" name="rviz" pkg="rviz" args="-d $(find cpt_planning_ros)/rviz/$(arg rviz_config).rviz" />
</group>

</launch>
