<launch>

    <node pkg="tf2_ros" type="static_transform_publisher" name="vicon_broadcaster"
          args="0 0 0 0 0 0 1 vicon world"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="mesh_broadcaster"
          args="2 0 0 0 0 0 1 world mesh"/>

    <node name="voliro_planner_node" pkg="cpt_planning_ros" type="voliro_planner_node"
          output="screen">
        <param name="zero_angle" value="0.8"/>
        <param name="zero_x" value="0.0"/>
        <param name="zero_y" value="0.0"/>
        <param name="zero_z" value="1.75"/>
        <remap from="odometry" to="/ouzel/msf_core/odometry"/>
        <remap from="cmd_trajectory" to="/ouzel/command/trajectory"/>
        <param name="off_path"
               value="$(find manifold_simulations)/models/vicon_wall/vicon_wall.off"/>

    </node>


    <node name="joy_node" pkg="joy" type="joy_node" output="screen">
        <!-- <param name="autorepeat_rate" value="30" /> -->
    </node>


</launch>
