<launch><!--
  <node name="rmp_zdistance_node" pkg="cpt_ros" type="rmp_zdistance_node" output="screen">
  <param name="zero_angle" value="0.4"/>
   <param name="zero_x" value="0.0"/>
   <param name="zero_y" value="0.0"/>
   <param name="zero_z" value="0.707"/>
   <param name="off_path" value="/home/mpantic/Desktop/rss/surfaces/half_sphere2.off" />
   </node>-->

 <!--<node name="rmp_zdistance_node" pkg="cpt_ros" type="rmp_zdistance_node" output="screen">
    <param name="zero_angle" value="0.79"/>
   <param name="zero_x" value="0.0"/>
   <param name="zero_y" value="0.0"/>
   <param name="zero_z" value="0.0"/>
   <param name="off_path" value="/home/mpantic/Desktop/rss/surfaces/flat.off" />
   </node>-->

<!--
  <node name="voliro_planner_node" pkg="cpt_ros" type="voliro_planner_node" output="screen">
    <param name="zero_angle" value="0.59"/>
   <param name="zero_x" value="-0.34"/>
   <param name="zero_y" value="-1.06"/>
   <param name="zero_z" value="0.3"/>
   <param name="off_path" value="/home/mpantic/Desktop/rss/surfaces/crazy_vicon.off" />
</node>-->
<node name="voliro_planner_node" pkg="cpt_planning_ros" type="voliro_planner_node" output="screen">
    <param name="zero_angle" value="0.4"/>
      <param name="zero_x" value="0.0"/>
      <param name="zero_y" value="0.0"/>
      <param name="zero_z" value="1.75"/>
   <param name="off_path" value="/home/mpantic/ws/rmp/src/manifold_simulations/models/hilo_roof/meshes/hilo_reconstructed.off" />-
</node>
   <!--<node name="spacenav_node" pkg="spacenav_node" type="spacenav_node">
        <remap from="/spacenav/joy" to="/joy" />
    </node>-->
   <node name="joy_node" pkg="joy" type="joy_node" output="screen">
    </node>


</launch>
