<launch>
    <node name="mesh_publisher" pkg="cpt_utils" type="mesh_publisher_node"
          output="screen">
        <param name="default_filename"
               value="$(find cpt_utils)/resources/simple_meshes/complex1.off"/>
        <param name="frame_name" value="world"/>
    </node>

    <node name="collision_manifold_construct" pkg="cpt_collision_manifolds"
          type="collision_manifold_test_node" output="screen">
        <remap from="~mesh" to="/mesh_publisher/mesh_out"/>
    </node>
</launch>
